#root{
    width: 100%;
}

body{
    align-items: flex-start;
}

.mode ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  width: 300px;
}

.mode ul li{
  cursor : pointer;
  padding : 5px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
}

.pomodoro-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background: #ffffff26;
  width: 350px;
  padding: 30px;
  box-shadow: 0 8px 25px #00000026;
  margin: 0 auto;
}

.controls{
  width : 300px;
  display : flex;
  justify-content : space-between;
  padding : 10px;
}

.controls button{
  background-color : white;
  border : none;
  border-radius: 5px;
  
}

.controls button:focus,
button:active {
  outline: none;
  border: none;
}

body.focus button:hover{
  color: white;
  background-color: #BA4949;
}

body.focus{
  background-color: #BA4949;
}

body.shortBreak{
  background-color: #38858A;
}

body.longBreak{
  background-color: #397097;
}

body.focus button{
  color: #BA4949;
}

body.shortBreak button{
  color: #38858A;
}

body.longBreak button{
  color: #397097;
}

.timer {
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 10px;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto 0 auto;
  width: 500px;
}

.navbar ul{
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 18px;
}

.navbar ul a{
  color: white;
}

#logo{
  color: white;
  font-size: 21px;
  font-weight: 600;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.signup-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-family: "Poppins", sans-serif; */
    width: fit-content;
    padding: 20px 40px;
    line-height: 38px;
    color: black;
    letter-spacing: 1px;
    border-radius: 5px;
}

.signup-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-form label{
    font-size: 16px;
    display: inline-block;
    width: 130px;
    text-align: center;
}

.signup-form input{
    background-color: white;
    border: 1px solid black;
    color: black;
}

.signup-form button{
    background-color: rgb(65, 64, 64);
    font-size: 14px;
    padding: 7px;
    align-self: center;
    margin: 10px 0 5px 0;
    border: none;
}

.signup-span{
    font-size: 16px;
    color: white;
    margin-top: 15px;
}

