body{
  justify-content: center;
}

.navbar ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  width: 300px;
}

.navbar ul li{
  cursor : pointer;
  padding : 5px;
  font-size: 18px;
}

.pomodoro-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background: #ffffff26;
  width: 350px;
  padding: 30px;
  box-shadow: 0 8px 25px #00000026;
}

.controls{
  width : 300px;
  display : flex;
  justify-content : space-between;
  padding : 10px;
}

.controls button{
  background-color : white;
  border : none;
  color: black;
}

.controls button:focus,
button:active {
  outline: none;
  border: none;
}

body.focus{
  background-color: #BA4949;
}

body.shortBreak{
  background-color: #38858A;
}

body.longBreak{
  background-color: #397097;
}

body.focus button{
  color: #BA4949;
}

body.shortBreak button{
  color: #38858A;
}

body.longBreak button{
  color: #397097;
}

.timer {
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 10px;
}